h1 {
    margin: 0 auto;
    width: 300px
}
button {
    margin: 0 auto;
    display: block;
    width: 160px;
    background-color: lightslategray;
    color: aliceblue;
    border: 1px lightslategray solid;
    height: 50px;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer
}

.dogs_container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(5, 200px);
    gap: 20px;
    padding: 20px;
    margin-left: 22%;
    grid-row-gap: 20px
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid lightslategray;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 10;
}

.loader.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loader-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: lightslategray;
    font-weight: bold;
}